---
import Layout from "../layouts/Layout.astro";
---

  <Layout title="home">
    <main class="flex flex-col justify-center items-center h-screen">
      <h1 class="text-3xl text-center pb-2">
        <span
          class="hover:underline hover:text-blue-500 transition-all duration-300 ease-in-out"
        >
          ellie</span
        ><a
          href="/invite"
          class="text-lg text-gray-500 hover:underline hover:text-blue-500 transition-all duration-300 ease-in-out"
          >.leah.rocks</a
        >
      </h1>
      <p class="text-lg text-center text-gray-500">
        A simple, easy to use, and powerful Discord bot.
      </p>
      <div class="flex flex-row justify-center items-center pt-4">
        <a
          href="/invite"
          class="bg-zinc-500 hover:bg-zinc-600 text-white font-bold py-2 px-4 rounded-full transition-all duration-300 ease-in-out mr-4"
        >
          Invite
        </a>
        <a
          href="/commands"
          class="bg-zinc-500 hover:bg-zinc-600 text-white font-bold py-2 px-4 rounded-full transition-all duration-300 ease-in-out mx-4"
        >
          Commands
        </a>
        <a
          href="/support"
          class="bg-zinc-500 hover:bg-zinc-600 text-white font-bold py-2 px-4 rounded-full transition-all duration-300 ease-in-out ml-4"
        >
          Support
        </a>
      </div>
    </main>
  </Layout>
