---
import Layout from "../layouts/Layout.astro";
---

<Layout title="terms of service">
    <div class="max-w-5xl mx-auto w-full flex flex-col pt-12 px-4">
        <div class="!max-w-full prose w-full">
            <h1 class="text-4xl">
                Terms of Service<span class="pt-2 text-gray-500 text-sm px-2"
                    >Last updated: <strong class="font-bold">2024-11-04</strong>
                </span>
            </h1>
            <p class="pt-2">
                By using rei, you agree to the following terms of service.
                These terms of service may be updated at any time without
                notice. If you do not agree to these terms of service, please
                stop using rei immediately.
            </p>
            <h2 class="text-2xl pt-4">Bot Usage</h2>
            <p class="pt-2">
                You may use rei for any purpose, as long as you do not:
            </p>
            <ul class="list-disc list-inside text-zinc-300 space-y-2 pt-2 pl-4 pb-4 pr-4">
                <li>Abuse the bot in any way</li>
                <li>Use the bot to spam</li>
                <li>
                    Use the bot to post illegal content or content that violates
                    Discord's Terms of Service
                </li>
                <li>Use the bot to post NSFW content in a non-NSFW channel</li>
                <li>
                    Copy the bot's code without giving credit to the original author or abuse any exploits you find in the
                    bot<span
                        class="text-gray-500 text-sm uppercase"
                    >
                        *</span
                    >
                </li>
            </ul>
            <p class="text-gray-500 text-sm pt-2">
                * If you find any exploits, please report them to <strong
                    >leah</strong
                > on Discord immediately.
            </p>
            <h2 class="text-2xl pt-4">Termination</h2>
            <p>
                We may terminate your access to rei at any time, with or
                without cause, with or without notice, effective immediately.
            </p>
        </div>
    </div>
    <footer class="w-full mt-12">
        <div class="flex flex-col items-center justify-center py-4 space-y-2">
            <p class="text-gray-500 text-sm">&copy; <strong class="font-bold">2024</strong> rei</p>
            <p class="text-gray-500 text-sm text-center">
                <a href="/privacy" class="text-blue-500">Privacy Policy</a>
                <span class="px-2">|</span>
                <a href="/terms" class="text-blue-500">Terms of Service</a>
            </p>

        </div>
    </footer>
</Layout>
